@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import "./utils/variables";
@import "./utils/mediaQueries";
@import "./layout/gallery";
@import "./layout/photographerPage";
@import "./layout/modal";
@import "./layout/lightbox";

html {
  font-family: "DM Sans";
}
body {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  max-width: 800px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#titlemini{
  display:none;
}
#titlemax{
  position: absolute;
  right: 0;
  top: -105px;
}
#logo {
  width: 200px;
  height: 50px;
}
#skipToContent {
  width: 200px;
  display: block;
  margin: 2vh auto;
  opacity: 0;
  background-color: $saumon;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  padding: 0 2vh;
  border-radius: 2vh;

}
 #linkSkip{
    color: black;
    text-decoration: none;
  }
#linkSkip:focus #skipToContent {
  opacity: 1;
}
.hashtag {
  padding: 0.5vh 1vh;
  border: 0.5px solid $grey;
  box-sizing: border-box;
  border-radius: 11px;
  color: $vermillon;
  font-weight: 500;
  font-size: 12px;
}
.listeTag {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  li{
    margin: 3px 3px;
  }
}
li {
  a{
    color:$vermillon;
    text-decoration: none;
  }
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: $vermillon;
 
}
.carte{
  width: 400px;
  margin-bottom: 50px;
}
#photographer {
  max-width: 1280px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main{
    padding-bottom:50px;
    position: relative;
}

article {
  a {
    text-decoration: none;
  }
  img {
    display: block;
    margin: 0% auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: -2px 10px 15px 3px rgba(0, 0, 0, 0.27);
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: 400;
    color: $saumon;
    text-align: center;
  }
  p {
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    line-height: 17px;
  }
  .ville {
    color: $vermillon;
    font-size: 13px;
  }
  .bio {
    font-size: 14px;
  }
  .prix {
    color: $grey;
    font-size: 12px;
  }
  .listeTag {
    justify-content: center;
    margin-top: 0px;
  }
  .hashtag {
    margin: 0 3px;
  }
}

#frontBlock{
  display: flex;
  line-height: 20px;
  background-color: $saumon ;
  position:fixed;
  z-index: 9000;
  bottom:0px;
  right:20px;
  padding: 10px 30px;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  p{
    margin : 0 5px 0 0;
  }
  i{
    margin : 0 20px 0 0;
    line-height: 20px;
    font-size: 15px;
  }
}

