#lightbox{
    display: none;
    position:fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    z-index: 5;
}
#mainLight{
    max-width: auto;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    i#cross{
        width: 50px;
        font-size: 60px;
        display: block;
        margin-left: 770px;
        color: $vermillon;
        transform: translateY(50px);
    }
    p{
        width: 600px;
        margin: 20px auto;
        color: $vermillon;
        font-family: "DM Sans";
        font-size: 3vh;
       
    }

    #imgLight{
       width: 800px;
       display: flex;
       align-items: center;
       
        i#leftArrow{
            width: 80px;
            font-size: 60px;
            left: 0px;
            top:325px;
            color: $vermillon;
        }
        i#leftArrowWhite , i#rightArrowWhite{
            width: 80px;
            color: white;
            font-size: 60px;
        }
        i#rightArrow{
            text-align: right;
            width: 80px;
            font-size: 60px;
            left: 950px;
            top:-375px;
            color: $vermillon;
            
        }
       
        img{
         object-fit: cover;
         height: 600px;
         width: 600px;
        margin: 0;
        margin-left:auto;
        margin-right: auto;
            }
         video{
            height: 600px;
            width:600px;
            object-fit: cover;
            margin-left:auto;
        margin-right: auto;
            }

        }
    }