
/* Modal form */

#button {
    background: $vermillon;
    margin-top: 0.5em;
    padding: 1em;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border: none;
    width: 150px;
  }
  
  .bground{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
  } 
  .content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: $saumon;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: black;
    padding-top: 10px;
  }
  
  .modal-body {
    padding: 15px 8%;
    margin: 15px auto;
    p{
        margin: 0 0 20px 0;
        font-size: 40px;
        line-height: 40px;
    }
  }
  
  label {
    font-size: 25px;
    color: black;
    font-weight: normal;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
    
  }
  input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  }
  textarea {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  }
  
  .text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
  }
  .text-area {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    resize: none;
  } 
 
  .close {
    position: absolute;
    right: 15px;
    top: 40px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close:before,
  .close:after {
    position: absolute;
    
    content: " ";
    height: 50px;
    width: 6px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .btn-submit,
  .btn-signup {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
  }
  