@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
#gallery {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto 0px auto;
}

.imgGallery {
  margin: 0px;
}
.imgGallery h2 {
  font-size: 20px;
  display: inline-block;
  margin: 0;
  color: #901C1C;
}
.imgGallery div {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}
.imgGallery #like {
  color: #901C1C;
}

.galleryImg {
  border-radius: 5px;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

article img.galleryImg {
  box-shadow: none;
}

.imgGallery span {
  color: #901C1C;
}

.carte_id {
  width: 1440px;
  margin: 0 120px;
  display: flex;
  justify-content: space-between;
}
.carte_id a {
  text-decoration: none;
}
.carte_id img {
  margin: 0;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: -2px 10px 15px 3px rgba(0, 0, 0, 0.27);
}
.carte_id h2 {
  margin-top: 0;
  font-size: 70px;
  font-weight: 400;
  color: #db8876;
  text-align: left;
  display: inline;
}
.carte_id p {
  text-align: left;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  flex-direction: column;
  line-height: 17px;
}
.carte_id #ville {
  display: block;
  color: #901C1C;
  font-size: 16px;
  margin-bottom: 15px;
}
.carte_id #bio {
  font-size: 14px;
}
.carte_id .listeTag {
  justify-content: left;
  margin-top: 10px;
}
.carte_id .hashtag {
  margin: 0 3px;
}
.carte_id #btnContact {
  display: inline-block;
  height: 60px;
  font-size: 20px;
  background-color: #901C1C;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 14px;
  margin-left: 30px;
  padding: 0 10px;
  vertical-align: top;
}

#logo_id {
  margin-top: 20px;
}

.imgGallery {
  margin-bottom: 10px;
}

/* Modal form */
#button {
  background: #901C1C;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border: none;
  width: 150px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: black;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}
.modal-body p {
  margin: 0 0 20px 0;
  font-size: 40px;
  line-height: 40px;
}

label {
  font-size: 25px;
  color: black;
  font-weight: normal;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

textarea {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.text-area {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  resize: none;
}

.close {
  position: absolute;
  right: 15px;
  top: 40px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  content: " ";
  height: 50px;
  width: 6px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-signup {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

#lightbox {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
}

#mainLight {
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#mainLight i#cross {
  width: 1170px;
  font-size: 60px;
  display: block;
  text-align: right;
  position: absolute;
  top: 0;
  color: #901C1C;
}
#mainLight #imgLight {
  height: 700px;
  width: 800px;
  background-color: yellow;
}
#mainLight #imgLight i#leftArrow {
  font-size: 60px;
  position: absolute;
  left: 0px;
  top: 325px;
  color: #901C1C;
}
#mainLight #imgLight i#rightArrow {
  font-size: 60px;
  position: relative;
  left: 950px;
  top: -375px;
  color: #901C1C;
}
#mainLight #imgLight p {
  position: absolute;
  top: 700px;
  color: #901C1C;
  font-family: "DM Sans";
  font-size: 3vh;
}
#mainLight #imgLight img {
  object-fit: cover;
  height: 700px;
  width: 800px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
#mainLight #imgLight video {
  height: 700px;
  width: 800px;
  object-fit: cover;
}

html {
  font-family: "DM Sans";
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  max-width: 1440px;
  padding: 0 100px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 200px;
  height: 50px;
}

#skipToContent {
  display: block;
  margin: 2vh auto;
  opacity: 0;
  background-color: #db8876;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  padding: 0 2vh;
  border-radius: 2vh;
}
#skipToContent a {
  color: black;
  text-decoration: none;
}

#skipToContent:focus {
  opacity: 1;
}

.hashtag {
  padding: 0.5vh 1vh;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  color: #901C1C;
  font-weight: 500;
  font-size: 12px;
}

.listeTag {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.listeTag li {
  margin: 3px 3px;
}

li a {
  color: #901C1C;
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: #901C1C;
}

.carte {
  width: 450px;
  margin-bottom: 50px;
}

#photographer {
  max-width: 1440px;
  padding: 0 20px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  padding-bottom: 50px;
}

article a {
  text-decoration: none;
}
article img {
  display: block;
  margin: 0% auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: -2px 10px 15px 3px rgba(0, 0, 0, 0.27);
}
article h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 36px;
  font-weight: 400;
  color: #db8876;
  text-align: center;
}
article p {
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  line-height: 17px;
}
article #ville {
  color: #901C1C;
  font-size: 13px;
}
article #bio {
  font-size: 10px;
}
article #prix {
  color: #c4c4c4;
  font-size: 9px;
}
article .listeTag {
  justify-content: center;
  margin-top: 0px;
}
article .hashtag {
  margin: 0 3px;
}

#frontBlock {
  display: flex;
  line-height: 20px;
  background-color: #db8876;
  position: fixed;
  z-index: 9000;
  bottom: 0px;
  right: 20px;
  padding: 10px 30px;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#frontBlock p {
  margin: 0 5px 0 0;
}
#frontBlock i {
  margin: 0 20px 0 0;
  line-height: 20px;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
